# Adapted from: https://mrkandreev.name/snippets/gitignore-generator/#Erlang

.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
rebar3.crashdump

#logs
/logsL
/measures/

_grisp/
.vscode

grisp/grisp2/common/deploy/files/wpa.supplicant.conf
*.txt
plotsPID.py
# pushHera.sh   # I recommend you to put it in the .gitignore if you put your password directly.
