{deps, [
    {hera, {git , "https://github.com/Neackow/hera" , {branch , "main"}}},
    {hera_synchronization, {git, "https://github.com/Neackow/hera_synchronization", {branch, "main"}}},
    {grisp, {git, "https://github.com/grisp/grisp", {branch, "master"}}},
    grisp_emulation,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "25.3.2.9"}
        %{version, "25.2.3"}
    ]},
    {build, [
        {toolchain, [
            {directory, "/home/nicolas/TFE/grisp2-rtems-toolchain/rtems/5"}
            %{docker, "grisp/grisp2-rtems-toolchain"}
        ]}
    ]},
    {deploy , [
        {pre_script, "rm -rf /media/nicolas/GRISP/*"},
        {destination, "/media/nicolas/GRISP"},
        {post_script, "umount /media/nicolas/GRISP"}
    ]}
]}.

{shell, [{apps, 
	[
	    grisp_emulation,
	    grisp ,
	    {epmd , none} ,
	    movement_detection,
	    hera ,
	    runtime_tools
	]}
]}.

{relx, [
    {release, {movement_detection, "1.0.0"}, [
        grisp ,
        {epmd , none} ,
        movement_detection,
        hera ,
        runtime_tools ,
        hera_synchronization
    ]} ,
    {dev_mode , false} ,
    {generate_start_script , true} ,
    {extended_start_script , true} ,
    {sys_config , "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{ profiles , [
    {computer , [
        {deps , [
             grisp_emulation
        ]} ,
        {dev_mode , true} ,
        {erl_opts , [
            debug_info
        ]} ,
        {relx , [
            {sys_config_src , "./config/computer.config.src"} ,
            {vm_args, "./config/vm.args"},
            {release , {movement_detection , "1.0.0"} , [
                grisp ,
                grisp_emulation,
                {epmd , none},
                movement_detection,
                hera,
                runtime_tools ,
                hera_synchronization
            ]}
        ]}
    ]}
]}.

%% == Dialyzer ==

{ dialyzer , [
    {warnings , [underspecs
        ,        no_return
        ,        unmatched_returns
        ,        error_handling]} ,
    {plt_prefix , "movement_detection"} ,
    {plt_apps , top_level_deps} ,
    {plt_extra_apps , []}
]}.
